@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.d-flex {
  display: flex;
}
.flex-wrap {
  flex-wrap: wrap;
}
.w-100 {
  width: 100%;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.justify-content-between {
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.menuWrap {
  padding-left: 1rem;
  padding-right: 1rem;
}

/* Index page css */
.tagsWrap {
  margin-top: 1rem;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 0.38);
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  align-items: center;
}
.tagsWrap > div > img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}
.tagName {
  padding-left: 1rem;
  font-weight: 600;
}

/* detail page css */

.tagName > p {
  font-size: 0.8rem;
  color: #ff572a;
}
.detailPageIcon i,
.increMental button > i {
  height: 20px;
  width: 20px;
  border: solid 2px #000;
  text-align: center;
  border-radius: 50%;
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerPart {
  font-weight: 600;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.headerPart > i {
  font-size: 1.5rem;
}
.headerPart > span {
  padding-left: 1rem;
}

.overLay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.3;
  display: none;
}
.popUp {
  position: fixed;
  top: 10%;
  width: 95%;
  left: 50%;
  transform: translateX(-50%);
  background: #fff;
  border-radius: 0.2rem;
  box-shadow: 0px 0px 5px rgb(0 0 0 / 0.38);
  padding: 1rem;
  display: none;
}
.headerPop {
  margin-top: 1rem;
}
.headerPop > div > img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}
.popTagName {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: 600;
}
.increMental button {
  background: transparent;
  border: 0;
  outline: none;
}
.increMental button > i {
  color: #ff572a;
  border: solid 2px #ff572a;
}
.increMental span {
  font-weight: 600;
  padding: 0 0.5rem;
}
.footerPop {
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.footerPop button {
  background: transparent;
  font-size: 1rem;
  border: solid 1px #000000;
  padding: 1rem 2.5rem;
  border-radius: 0.2rem;
  outline: none;
}

.footerPop button:last-child {
  background: #ff572a;
  color: #fff;
  border: solid 1px #ff572a;
}

.popTabs {
  margin-top: 2rem;
}
.tab {
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  flex: 0 0 100%;
}

.contentTab {
  margin-top: 1rem;
}
.tab button {
  background-color: inherit;
  display: inline-block;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px 16px;
  font-weight: 600;
  font-size: 1rem;
}
.tab button:hover {
  border-bottom: solid 3px #ff572a;
}

.tab button.active {
  border-bottom: solid 3px #ff572a;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  width: 100%;
}
.tabcontent:first-child {
  display: block;
}

.radioCont {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.radioCont input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: none;
  border-radius: 50%;
  border: solid 1px #ccc;
}

.radioCont:hover input ~ .checkmark {
  background-color: #fff;
}

.radioCont input:checked ~ .checkmark {
  background-color: #fff;
  border: solid 1px #ff572a;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.radioCont input:checked ~ .checkmark:after {
  display: block;
}

.radioCont .checkmark:after {
  top: 5px;
  left: 5px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #ff572a;
}
/* checkout page css */
.checkoutPage i {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
  color: #ff572a;
}
.closeBtnI {
  height: 20px;
  width: 20px;
  border: solid 2px #000;
  text-align: center;
  border-radius: 50%;
  color: #000000 !important;
}
.checkOutCounter {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 30px;
}
.checkOutCounter button {
  background: transparent;
  border: 0;
  outline: none;
  flex: 0 0 100%;
}
.checkOutCounter button i {
  height: 17px;
  width: 17px;
  border: solid 2px #000;
  text-align: center;
  border-radius: 50%;
  font-size: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff572a !important;
  border: solid 2px #ff572a !important;
  margin: 5px;
}
.checkOutCounter span {
  position: absolute;
  top: 50%;
  left: -10px;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
}
.checkOutFooter {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.checkOutFooter div span {
  font-weight: 600;
  margin-bottom: 0.3rem;
  font-size: 0.8rem;
}

.checkOutFooter .finalTotal {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
}
.checkOutFooter .finalTotal span {
  font-size: 1rem;
}
.checkOutFooter .finalTotal span:last-child {
  color: #ff572a;
}
.checkOutFooter button {
  background: transparent;
  font-size: 1rem;
  border: solid 1px #000000;
  padding: 1rem 2.5rem;
  border-radius: 0.2rem;
  outline: none;
  background: #ff572a;
  color: #fff;
  border: solid 1px #ff572a;
}
